user
*.pyc
*.egg
.DS_Store
.vscode
.idea
__pycache__
*_pb2.py
*.orig
*.qmlc
*.autosave
*~
build
.bash*
.vim*
build-*
*.egg-info
*.swp
*.swo
.eggs
*#*
.local
.aios
.cache
.config
messages/
.coverage
.mypy_cache/
Images/
